.productsContainer {
    margin-top: 50px;
}
.productsTitle {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.productsTitleWeb {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
    margin-top: 1.5em;
}
.productsContent {
    margin-bottom: 5em;
    background-color: #000000;
}
.productsContentWeb {
    margin-bottom: 5em;
    background-color: #000000;
}
.productServicesTitle {
    text-align: center;
    margin-top: 2em;
}
.servicesLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productServicesTitle {
    margin-bottom: 2em;
    font-size: 2em;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.mobileDev {
    /* position: absolute; */
    /* width: 90%; */
    /* left: 20%; */
    /* top: 7em; */
    color: white;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    color: white;
    /* text-align: center; */
    text-decoration: none;
}
.mobileSelection {
    background-color: #000000;
}
.phoneSelection {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.webDev {
    /* position: absolute; */
    /* width: 90%; */
    /* bottom: 50%; */
    /* left: .5em; */
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    color: black;
    /* text-align: center; */
    text-decoration: none;
}
.webSelection {
    margin-bottom: 5em;
    position: relative;
}
.webSelectPic {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}


.phoneBg {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.webBg {
    width: 100%;
    height: 30em;
    position: relative;
    opacity: 0.25;
    display: block;
    object-fit: cover;
}
.productsContent > p {
    position: absolute;
    width: 90%;
    left: 1em;
    top: 32%;
    color: white;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
}
.productsContentWeb > p {
    position: absolute;
    width: 90%;
    left: 1em;
    top: 32%;
    color: white;
    font-size: 19px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
}

.productsIosTitle {
    text-align: center;
    margin-bottom: 1.5em;
}
.productsIosDescription {
    position: relative;
    left: 1em;
    width: 90%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
}
.productsAndroidTitle {
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
    padding-top: 90px;
}
.productsAndroidDescription {
    position: relative;
    left: 1em;
    width: 90%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
    color: white;
}

.productCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.productImageContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 90%;
    height: 15rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.productImage {
    object-fit: cover;
}
.productImageWebApp {
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99.9%;
    /* opacity: .5; */
}
.productHeading {
    position: relative;
    bottom: 45px;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px gray;
}
.productsLastChild {
    background-color: rgba(0, 0, 0, 0.84);
    padding-bottom: 20px;
}



                                                                /* medium and secondMed components */
.medProductServicesTitle {
    text-align: center;
    margin-top: 2em;
}
.medProductServicesTitle {
    margin-bottom: 2em;
    font-size: 2em;
    text-transform: uppercase;
}
.medServicesLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.medMobileSelection {
    background-color: #000000;
    width: 80%;
}
.medPhoneSelection {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.medMobileDev {
    position: absolute;
    width: 90%;
    left: 1em;
    top: 59%;
    color: white;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}
.medWebSelection {
    margin-bottom: 5em;
    margin-top: 3em;
    position: relative;
    width: 80%;
}
.medWebSelectPic {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.medWebDev {
    position: absolute;
    width: 90%;
    bottom: 50%;
    left: 1em;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.secMedProductServicesTitle {
    text-align: center;
    margin-top: 2em;
}
.secMedProductServicesTitle {
    margin-bottom: 2em;
    font-size: 2em;
    text-transform: uppercase;
}
.secMedServicesLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secMedMobileSelection {
    background-color: #000000;
    width: 80%;
}
.secMedPhoneSelection {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.secMedMobileDev {
    position: absolute;
    width: 90%;
    left: 1.75em;
    top: 57%;
    color: white;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}
.secMedWebSelection {
    margin-bottom: 5em;
    margin-top: 3em;
    position: relative;
    width: 80%;
}
.secMedWebSelectPic {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.secMedWebDev {
    position: absolute;
    width: 90%;
    bottom: 48%;
    left: 1.5em;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}


                                                                /* medium and secondMed mobile component */
.medProductsContainer {
    margin-top: 50px;
}
.medProductsTitle {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.medProductsContent {
    margin-bottom: 5em;
    background-color: #000000;
    width: 90%;
    margin-left: 5%;
}
.medPhoneBg {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.medProductsContent > p {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 32%;
    color: white;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
}
.medProductsIosTitle {
    text-align: center;
    margin-bottom: 1.5em;
}
.medProductsIosDescription {
    position: relative;
    left: 1em;
    width: 90%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
}
.medProductCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.medProductImageContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 60%;
    height: 16rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.medProductImage {
    object-fit: cover;
}
.medProductHeading {
    position: relative;
    bottom: 45px;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px gray;
}
.medProductsLastChild {
    background-color: rgba(0, 0, 0, 0.84);
    padding-bottom: 20px;
}
.medProductsAndroidTitle {
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
    padding-top: 90px;
}
.medProductsAndroidDescription {
    position: relative;
    left: 1em;
    width: 90%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
    color: white;
}


.secMedProductsContainer {
    margin-top: 50px;
}
.secMedProductsTitle {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.secMedProductsContent {
    margin-bottom: 5em;
    background-color: #000000;
    width: 90%;
    margin-left: 5%;
}
.secMedPhoneBg {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.secMedProductsContent > p {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 40%;
    color: white;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
}
.secMedProductsIosTitle {
    text-align: center;
    margin-bottom: 1.5em;
}
.secMedProductsIosDescription {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
}
.secMedProductCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.secMedProductImageContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 60%;
    height: 18rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.secMedProductImage {
    object-fit: cover;
}
.secMedProductHeading {
    position: relative;
    bottom: 45px;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px gray;
}
.secMedProductsLastChild {
    background-color: rgba(0, 0, 0, 0.84);
    padding-bottom: 20px;
    margin-bottom: 3em;
}
.secMedProductsAndroidTitle {
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
    padding-top: 90px;
}
.secMedProductsAndroidDescription {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
    color: white;
}


                                                                /* large component */
.lgProductServicesTitle {
    text-align: center;
    margin-top: 2em;
}
.lgProductServicesTitle {
    margin-bottom: 2em;
    font-size: 2em;
    text-transform: uppercase;
}
.lgServicesLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lgMobileSelection {
    background-color: #000000;
    width: 80%;
}
.lgPhoneSelection {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    /* display: block; */
    object-fit: cover;
}
.lgMobileDev {
    position: absolute;
    width: 90%;
    left: 2em;
    top: 60%;
    color: white;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}
.lgWebSelection {
    margin-top: 4em;
    margin-bottom: 5em;
    width: 80%;
    position: relative;
}
.lgWebSelectPic {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.4;
    display: block;
    object-fit: cover;
}
.lgWebDev {
    position: absolute;
    width: 90%;
    bottom: 47%;
    left: 2em;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}


                                                                /* large mobile component */


.lgProductsContainer {
    margin-top: 50px;
}
.lgProductsTitle {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-size: 30px;
}
.lgProductsContent {
    margin-bottom: 5em;
    background-color: #000000;
    width: 90%;
    margin-left: 5%;
}
.lgPhoneBg {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.lgProductsContent > p {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 45%;
    color: white;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
}
.lgProductsIosTitle {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 30px;
}
.lgProductsIosDescription {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
}
.lgProductCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.lgProductImageContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 45%;
    height: 19rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.lgProductImage {
    object-fit: cover;
}
.lgProductHeading {
    position: relative;
    bottom: 45px;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px gray;
}
.lgProductsLastChild {
    background-color: rgba(0, 0, 0, 0.84);
    padding-bottom: 20px;
    margin-bottom: 4em;
}
.lgProductsAndroidTitle {
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
    padding-top: 90px;
    font-size: 30px;
}
.lgProductsAndroidDescription {
    position: relative;
    left: 10%;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
    color: white;
}


                                                                /* xxl component */
.XXLProductServicesTitle {
    text-align: center;
    margin-top: 2em;
}
.XXLProductServicesTitle {
    margin-bottom: 2em;
    font-size: 2em;
    text-transform: uppercase;
}
.XXLServicesLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.XXLMobileSelection {
    background-color: #000000;
    width: 60%;
}
.XXLPhoneSelection {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.XXLMobileDev {
    position: absolute;
    width: 90%;
    left: 2.25em;
    top: 58%;
    color: white;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}
.XXLWebSelection {
    margin-bottom: 5em;
    margin-top: 5em;
    position: relative;
    width: 60%;
}
.XXLWebSelectPic {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.XXLWebDev {
    position: absolute;
    width: 90%;
    bottom: 50%;
    left: 1.75em;
    font-size: 2em;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}


                                                                /* xxl mobile component */


.XXLProductsContainer {
    margin-top: 50px;
}
.XXLProductsTitle {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-size: 30px;
}
.XXLProductsContent {
    margin-bottom: 5em;
    background-color: #000000;
    width: 90%;
    margin-left: 5%;
}
.XXLPhoneBg {
    width: 100%;
    height: 20em;
    position: relative;
    opacity: 0.3;
    display: block;
    object-fit: cover;
}
.XXLProductsContent > p {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 45%;
    color: white;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
}
.XXLProductsIosTitle {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 30px;
}
.XXLProductsIosDescription {
    position: relative;
    left: 20%;
    width: 60%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
}
.XXLProductCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.XXLProductImageContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 35%;
    height: 20rem;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px gray;
}
.XXLProductImage {
    object-fit: cover;
}
.XXLProductHeading {
    position: relative;
    bottom: 45px;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px gray;
}
.XXLProductsLastChild {
    background-color: rgba(0, 0, 0, 0.84);
    padding-bottom: 20px;
    margin-bottom: 4em;
}
.XXLProductsAndroidTitle {
    text-align: center;
    margin-bottom: 1.5em;
    color: white;
    padding-top: 90px;
    font-size: 30px;
}
.XXLProductsAndroidDescription {
    position: relative;
    left: 20%;
    width: 60%;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.25em;
    color: white;
}