                                                                /* small cards */
/* .projectsContainer {
    text-align: center;
    padding: 10px 0;
    margin-top: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectsContainer > h2 {
    font-size: 1.75em;
}

.projectCardContainer1 {
    background-image: url('./wrgcv_screenshot.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 18em;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-top: 2px solid black;
    box-shadow: 0px 1px 4px 0px black;
}
.projectName1 {
    position: absolute;
    color: white;
    font-size: 2.5em;
    opacity: .95;
}

.projectCardContainer2 {
    background-image: url('./conf_screenshot.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 18em;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}
.projectName2 {
    position: absolute;
    color: black;
    font-size: 2.5em;
    opacity: .55;
}

.projectCardContainer3 {
    background-image: url('./city_screenshot.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 18em;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    box-shadow: 0px 1px 4px 0px black;
}
.projectName3 {
    position: absolute;
    color: black;
    font-size: 2.5em;
    opacity: .8;
} */

.projectsContainer {
    text-align: center;
    padding: 10px 0;
    margin-top: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectsHeader {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}
.projectCardContainerMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    flex-wrap: wrap;
}

.projectCardContainer {
    width: 27em;
    height: auto;
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.projectImg {
    /* width: 100%; */
    width: 27em;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 1px 5px 1px gray;
}
.projectName {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px gray;
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 1.75em;
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


                                                                /* medium and secondMedium cards */
.medProjectsHeader {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}
.medProjectCardContainerMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    flex-wrap: wrap;
}

.medProjectCardContainer {
    width: 27em;
    height: auto;
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.medProjectImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 1px 5px 0px gray;
}
.medProjectName {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px gray;
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 1.75em;
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.secMedProjectsHeader {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}
.secMedProjectCardContainerMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    flex-wrap: wrap;
}

.secMedProjectCardContainer {
    width: 27em;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.secMedProjectImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 1px 5px 1px gray;
}
.secMedProjectName {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px gray;
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 1.75em;
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


                                                                /* large container */
.lgProjectsHeader {
    font-size: 2.25em;
    text-align: center;
}
.lgProjectCardContainerMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    flex-wrap: wrap;
}

.lgProjectCardContainer {
    width: 27em;
    height: auto;
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.lgProjectImg {
    width: 100%;
    box-shadow: 0px 1px 5px 0px gray;
}
.lgProjectName {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px gray;
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 1.75em;
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


                                                                /* xxl container */
.XXLProjectsHeader {
    font-size: 2.5em;
    margin-bottom: 3.25em;
    text-align: center;
}
.XXLProjectCardContainerMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2em;
}

.XXLProjectCardContainer {
    width: 27em;
    height: auto;
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.XXLProjectImg {
    width: 100%;
    box-shadow: 0px 1px 5px 0px gray;
}
.XXLProjectName {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px gray;
    width: 60%;
    margin-left: 20%;
    position: relative;
    bottom: 1.75em;
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}